.home {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 50px;
}

.home-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.home-left h1 {
    font-size: 60px;
    font-weight: bold;
}

.home-left h1 span {
    background: linear-gradient(270deg, #DF8908 10%, #B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 60px;
}

.home-left h2 {
    font-size: 30px;
    font-weight: 500;
    color: #ccc;
}

.home-left p {
    font-size: 20px;
    line-height: 1.6;
    color: #ddd;
    max-width: 500px;
}

.button {
    display: flex;
    gap: 20px;
}

button {
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 18px;
    cursor: pointer;
    width: auto;
}

.button .connect {
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
    color: white;
    border: none;
}

.button .resume {
    border: 2px solid #DF8908;
    background: transparent;
    color: #fff;
}

.socials {
    display: flex;
    gap: 35px;
    margin-top: 10px;
    padding-left: 50px;
    cursor: pointer;
}

.github {
    width: 65px;
    height: 65px;
    border-radius: 50%;
}

.linkedin {
    width: 45px;
    height: 45px;
}

.gmail {
    width: 85px;
    height: 55px;

}

.home-right {
    flex: 1;
    display: flex;
    justify-content: center;
}

.home-image {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    object-fit: cover;
}
